body {
	background-color: gray
}
h1, h2 {
	text-align: center;
	text-decoration: underline; /*How do I make this black?*/
}
p {
	text-align: center;
	color: white;
}
h1, h2 {
	color: rgb(0, 255, 255);
}
ul {
	 position:relative;
  display: inline-block;  
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
  padding: 0;
}
ol {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
ul, ol {
	color: white
}
.head {
	color: blue;
}
.about {
	text-align: center;
	border: solid black;
	background-image: url(images/flag.jpg);
	height: auto;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
.workexp {
	border: solid black;
}
.workexphead {
	text-align: center;
	color: yellow;
	text-decoration: underline;
}
.workexpsechead {
	text-decoration: underline;
	color: red;
}
.education {
	border: solid black;
	background-image: url(images/flag.jpg);
	height: auto;

	background-attachment: fixed;
	background-repeat: repeat-x;
}
.skills {
	border: solid black;
	background-image: url(images/flag.jpg);
	height: auto;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
.skillssechead {
	text-decoration: underline;
	color: yellow;
}
.sechead {
	text-align: center;
	text-decoration: underline;
}
.paralex {
	background-image: url(images/flag.jpg);
	height: auto;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
nav {
	border: .025px solid red;
	background-color: lightblue;
	margin: 0px 200px 0px 200px
}
nav ul {
  list-style-type: none;
  padding: 5px 0px;
}
nav li {
  display: inline;
  padding: 5px 10px;
}
nav a:link, nav a:visited {
  color: blue
  border-bottom: none;
  font-weight: bold;
}
li {
	color: white;
}
@media screen and (max-width: 480px) {
	.nav {
		display: none;
	}
}
	
